<% var last = 0; %>
<div class="archive">
  <% page.posts.each(function(post, i){ %>
  <% var year = post.date.year(); %>
  <% if (last != year){ %>
  <% if (last != 0){ %>
      </ul>
    </div>
  <% } %>
    <% last = year %>
    <div class="year">
    <a href="<%- url_for(config.archive_dir + '/' + year) %>" ><%= year %></a>
    </div>
    <div class="main">
      <div class="line"></div>
      <ul>
  <% } %>
          <li>
          <a href="<%- url_for(post.path) %>"><%= post.title %></a>
          </li>
        <% }) %>
      </ul>
    </div>
</div>


<% if (page.total > 1){ %>
  <nav class="pagination">
    <%- paginator({
      prev_text: '<i class="fa fa-chevron-left" aria-hidden="true"></i>',
      next_text: '<i class="fa fa-chevron-right" aria-hidden="true"></i>'
    }) %>
  </nav>
<% } %>