<article id="<%= post.layout %>-<%= post.slug %>" class="post article-type-<%= post.layout %>">
    <%- partial('post/title') %>
    <%- partial('post/photos') %>
    <%- post.content %>
    <div class="inner-wrap">
        <%- partial('post/date') %>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
    </div>
    <div class="post-divide"></div>
    <%- partial('post/nav') %>
    <%- partial('third-party/comments') %>
</article>