<div class="index-background">
    <div class="background-image"> </div>
</div>
    <% if (is_home() && is_current('index.html')) { %>
        <div class="index-header first-index">
    <% } else {%>
        <div class="index-header">
    <% } %> 
    <nav class="site-nav">
        <ul>
            <% _.each(theme.menu, function(link,title){ %>
                <%if (title=='Instagram' && link==true) {%>
                    <% if (theme.instagram.enable) { %>
                        <% if (is_home() && is_current('index.html')) { %>
                        <li class="inslink">
                            <a href="javascript:void(0)">instagram</a>
                        </li>
                        <% } %>
                    <% } %>
                <% } else if (title=='Profile' && link==true) {%>
                    <% if (is_home() && is_current('index.html')) { %>
                    <li class="prolink on">
                        <a href="javascript:void(0)">Profile</a>
                    </li>
                    <% } else {%>
                    <li>
                        <a href="/">Profile</a>
                    </li>
                    <% } %>
                <% } else { %>
                    <% if ( (url).indexOf(String(link)) !== -1 && link != '/') { %>
                        <li class="on">
                    <% } else { %>
                        <li class="">
                    <% } %>
                        <a href="<%=link%>"><%=title%></a>
                    </li>
                <% } %>
            <% }) %>
        </ul>
    </nav>
    <%if (is_home() && is_current('index.html')) { %>
        <div class="index-profile">
            <img class="profile-img" src="<%=theme.avatar%>">
            <h1 class="profile-name"><%=config.title%></h1>
            <p class="profile-motto"><%=config.description%></p>
            <ul class="profile-social-menu">
            <% _.each(theme.social, function(link,title) { %>
                <li>
                    <a href="<%=link%>"><i class="fa fa-<%=title%>"></i></a>
                </li>
            <% }) %>
            </ul>
        </div>
    <% } %>
    <div class="index-instagram">
        <div id="instafeed"></div>
    </div>
</div>