<article id="<%= post.layout %>-<%= post.slug %>" class="index article-type-<%= post.layout %>">
    <%- partial('post/title') %>
    <% if (post.excerpt && index){ %>
        <%- strip_html(post.excerpt) %>
    <% } else if (theme.auto_excerpt.enable){ %>
      <p><%- truncate(strip_html(post.content), {length: theme.auto_excerpt.length, omission: '... (continued)'}) %></p>
    <% } else { %>
      <%- post.content %>
    <% } %>
    <%- partial('post/photos') %>
    <div class="inner-wrap">
        <%- partial('post/date') %>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
    </div>
    <div class="post-divide"></div>
</article>