<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/header') %>
    <section class="container" id="main">
        <div class="post-holder">
            <%- body %>
        </div>
    </section>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after-footer') %>
</body>
</html>