<% if (post.photos) {%>
    <% if (String(post.photos).indexOf('mp4') !== -1 || String(post.photos).indexOf('webm') !== -1) { %>
        <div class="gllary-single">
            <% var videopic = false; %>
            <% post.photos.forEach(function(photo){ %>
                <% if (photo.indexOf('jpg') !== -1 || photo.indexOf('png') !== -1) { %>
                    <video id="my-video" class="video-js" controls preload="auto" poster="<%= photo %>" data-setup="{}">
                    <% videopic = true; %>
                    <% return false; %>
                <% }%>
            <% }); %>
            <% if (videopic != true) {%>
                    <video id="my-video" class="video-js" controls preload="auto" poster="" data-setup="{}">
            <% }%>
                <% post.photos.forEach(function(video){ %>
                    <% if (video.indexOf('mp4') !== -1) { %>
                        <source src="<%= video %>" type='video/mp4'>
                    <% } if (video.indexOf('webm') !== -1) { %>
                        <source src="<%= video %>" type='video/webm'>
                    <% } %>
                <% }); %>
            </video>
        </div>
    <% } else { %>
        <% if (post.photos.length == 1) { %>
            <div class="gllary-single">
                <img class="lazy" data-original="<%= post.photos %>">
            </div>
        <% } if (post.photos.length > 1) { %>
            <div class="gllary-multiply">
                <% post.photos.forEach(function(photo){ %>
                    <img class="lazy" data-original="<%= photo %>">
                <% }); %>
            </div>
        <% }%>
    <% }%>
<% } %>